.App {
  text-align: left;
}

.container-form {
  border: 2px solid purple;
  height: 20rem;
  width: 20rem;
  margin-left: 5rem;
}

.fade-out {
  opacity: 0.5; /* Adjust the opacity as desired */
  transition: opacity 0.5s ease-in-out; /* Add a transition for a smooth effect */
}
